<div class="container">
  <div class="row">

    <div class="col-4">
      <div class="user-details-container">
        <img class="user-image" src="../../assets/img/swklogojpeg.jpeg"/>

      </div>
    </div>

    <div class="col">
      <h2 class="section-title">User details</h2>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Full Name" formControlName="fullname" required>
          <mat-error *ngFor="let validation of validation_messages.fullname">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>


           <mat-form-field class="full-width">
          <textarea matInput maxlength="3000" placeholder="Email Body" formControlName="body" matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="50"></textarea>
          <mat-hint align="start">Email Body</mat-hint>
          <mat-hint align="end">{{userDetailsForm.get('body').value.length}} / 3000</mat-hint>
          <mat-error *ngFor="let validation of validation_messages.body">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('body').hasError(validation.type) && (userDetailsForm.get('body').dirty || userDetailsForm.get('body').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>



        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">
          Submit
        </button>

      </form>
    </div>



  </div>
</div>
